body {
	margin: 0px;
}

.espace_user {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.bouton {
	text-decoration: none;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	margin: 4px;
	color: white;

}

.user {
	text-decoration: none;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4px;
	color: black;
}

.btn_share {
	text-decoration: none;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	margin: 8px;
	color: white;

}


button {
	height: 35px;
	width: 160px;
	font-size: 10px;
	letter-spacing: 3px;
}

.inscrivez-vous {
	background-color: #AF0034;
	border-radius: 5px;
	border-style: none;
	color: white;
}

.connectez-vous {
	background-color: #FEFEFE;
	border-radius: 5px;
	border-width: 1px;
	border-color: black;
	color: black;
	font-weight: bold;
}


.share {
	margin-left: 100px;
	padding: 15px;
	background-color: black;
	height: 15px;
	width: 1300px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;	
}



.bande_actu {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.stiky_nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #131316;
	height: 45px;
	width: 100%;
}



.btn_stiky_nav {
	color: white;
	margin-top: 4px;
	display: flex;
	flex-direction: row;
	margin: 15px;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 2px;
	text-decoration: none;
}


.article_img {
	/*background-color: black;*/
	display: flex;	
}



.img1 {
	height: 600px;
	width: 50%;
}


.batman {
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	height: 600px;
	width: 100%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmanheader.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	color: white;
	text-align: center;
	letter-spacing: 3px;
	font-weight: bold;
	&:hover{box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6)};
}

.img2et3 {
	height: 600px;
	width: 25%;
}


.fairyland {
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	height: 50%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2017/09/WallpapersIHateFairyland7-1400x600.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	&:hover{box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6)};
}


.pauldini {
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	height: 50%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2015/12/madpreview-790x398.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	&:hover{box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6)};
	
}


.img4et5 {
	height: 600px;
	width: 25%;;
}

.jock {
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	height: 50%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmansombrerefler_jock.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	&:hover{box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6)};
}

.miller {
	box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
	height: 50%;
	background: url(https://www.urban-comics.com/wp-content/uploads/2018/12/batmanfrankmiller.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	font-weight: bold;
	&:hover{box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.6)};
	
}

.art1 {
	height: 600px;
	width: 800px;
}
.img_art1 {
	width: 300px;
}